@import url("./icons.css");
body{
    margin: 0;
    padding: 0;
}
.header{
    background-color: #fff;
}
main{
    background-color: #eee;
}
.font-normal{
    font-size: 1rem;
}
.hidden{
    display: none;
}